*{
    padding: 0%;
    margin: 0%;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

#centradoDiapositiva{
    text-align: center;
}

#margenes{
    margin-left: 10%;
    margin-right: 10%;
}    

.pie-pagina{
    background-color: black;
    text-align: end;
    padding: 2%;
}

#etapa{
    font-size: 20px;
}

#subEtapa{
    font-size: 18px;
}