*{
    padding: 0%;
    margin: 0%;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}

footer{
    background-color: black;
}

p{
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

ul{
    color: white;
    font-weight: bolder;
    text-align: center;
    display: inline;
}

.inicio{
    justify-content: center;
}

.conteneidor{
    display: flex;
    justify-content: center;
}

.tamañoP1{
    font-size: 40px;
    text-align: center;
    background: linear-gradient(rgb(179, 17, 11),rgb(126, 216, 201));
    -webkit-background-clip: text;
    color: transparent;  
}

button {
    margin-top: 2rem;
    margin: auto;
    width: 80rem;
    padding: 0.8rem;
    font-size: larger;
    font-weight: bold;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient (to right, #1c5ae0, #1CB5E0);
    box-shadow: 20px 0px 60px 5px #1c5ae0c2; 
    background-color: black;
    animation: btn-animation 6s infinite;
    letter-spacing: 0.25em;
    word-spacing: 0.25em;
}

@keyframes btn-animation {
    16.667%,
    100%{
        border-image: linear-gradient (to right, #1c5ae0, #1CB5E0) 1;
        box-shadow: 20px 0px 60px 5px #1c5ae0c2;
    }
    
    50% {
        border-image: linear-gradient (to right, #5106ff, #ff2819) 1;
        box-shadow: 20px 0px 60px 5px #ff281991;
    }

    83.333% {
        border-image: linear-gradient (to right, #d53369, #daae51) 1;
        box-shadow: 20px 0px 60px 5px #daaf518e;
    }

}

.pie-pagina{
    background-color: black;
    text-align: end;
    padding: 2%;
}

#titulo{
    display: flexbox;
}

/*NavBar con pestañas desde acá*/
.contenedor{
    width: 1080px;
    margin: auto;
    background: black;
    color: bisque;
    padding: 20px 15px 0px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: 40px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 10px solid bisque;
    border-bottom: black;
    padding: 0px 0px 0px 0px;
}

#pestanas a:link{
    text-decoration: none;
    color: rgb(53, 36, 209);
}

#contenidopestanas{
    clear: both;  
    background: white;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 0.5px solid bisque;
    width: 1000px;
    text-align: center;
}
/*Hasta acá NavBar con pestañas*/

/*Responsive*/
.home{
    display: flex;
}

.in-flex{
    flex: 1;
    min-width: 250px;
}

.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color: rgb(0, 0, 0);
    margin: 20px;
    margin-bottom: 0px;
}

.in-flex div{
    padding: 25px;
    background-color: rgb(0, 0, 0);
    margin: 20px;
}

#centrado{
    justify-content: center;
}